@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-size: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
}

body {
  font-family: Inter;
}

a {
  text-decoration: none;
  color: var(--r-text);
}

.card {
  padding: 18px;
  .card-title {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .card-content {
  }
}

.divider {
  width: 100%;
  border-bottom: 1px solid #333;
  margin: 20px 0;
}
