@import "./ripple.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.r {
  padding: $bp;
  border-radius: var(--r-radius);
  cursor: pointer;
  user-select: none;
  transition: all $duration;
  &:hover {
    background: color(hover, var(--hover-alpha));
  }
}
.delete {
  color: color(red) !important;
}
.red {
  color: color(red) !important;
}

*[class*="r-"] {
  text-decoration: none;
}
