@import "./ripple.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.r {
  border-radius: var(--r-radius);
  cursor: pointer;
  user-select: none;
  transition: all var(--r-duration);
  &:hover {
    background: color(hover, var(--hover-alpha));
  }
}

*[class*="r-"] {
  text-decoration: none;
}

.r-popup-footer {
  padding: $p2;
  box-shadow: 0 0 4px rgba(var(--r-shadow-color), var(--r-shadow-alpha));
}
