@function color($color: color, $alpha: 1) {
  @return rgba(var(--r-#{$color}), $alpha);
}
@function borderx($color: prm, $alpha: 1) {
  @return 0 0 0 1px rgba(var(--r-#{$color}), $alpha);
}

:root {
  // colors
  --r-prm: 0, 168, 255;
  --r-red: 235, 59, 90;
  --r-green: 38, 222, 129;
  --r-yellow: 247, 159, 31;
  --r-gray: 249, 250, 251;
  --r-b1: 246, 246, 246;
  --r-b2: 255, 255, 255;
  --r-text: 18, 18, 18;
  --r-disabled: 116, 125, 140;
  --r-hover: 140, 140, 140;
  --r-border-color: 60, 60, 60;
  --r-shadow-color: 140, 140, 140;

  --r-radius: 6px;
  --r-radius-2: 14px;
  --r-space-1: 4px;
  --r-space-2: 8px;
  --r-space-3: 14px;
  --r-space-4: 22px;
  --r-space-5: 38px;
  --r-normal-padding: 8px 12px;
  --r-font-large: 1.18rem;
  --r-font-xlarge: 1.25rem;
  --r-font-small: 0.86rem;
  --r-font-xsmall: 0.74rem;
  --r-element-min-height: 32px;
  --r-border-width: 1px;
  --hover-alpha: 0.3;
  --r-shadow-alpha: 0.2;
  --r-disabled-alpha: 0.8;
  --r-duration: 0.2s;
  --light-alpha: 0.2;
  --info-alpha: 0.8;
  --disabled-alpha: 0.8;
  --border-alpha: 0.2;
  --border-active-alpha: 0.4;
  --r-focused-box-shadow-specs: 0px 0px 0px 2px;

  // shadows & borders
  --shadow: 0px 2px 6px -2px rgba(var(--r-shadow-color), var(--r-shadow-alpha));
  --border: 0 0 0 var(--r-border-width) rgba(var(--r-border-color), var(--border-alpha));
  --border-active: 0 0 0 var(--r-border-width) rgba(var(--r-border-color), var(--border-active-alpha));
  --popup-underlay-opacity: 0.2;
}
.dark {
  --r-gray: 22, 27, 33;
  --r-b1: 18, 18, 18;
  --r-b2: 30, 30, 30;
  --r-text: 246, 246, 246;
  --r-disabled: 116, 125, 140;
  --r-hover: 180, 180, 180;
  --r-border-color: 200, 200, 200;
  --r-shadow-color: 60, 60, 60;

  --shadow: 0px 2px 6px -2px rgba(var(--r-shadow-color), var(--r-shadow-alpha));
  --border: 0 0 0 1px rgba(var(--r-border-color), var(--border-alpha));
  --border-active: 0 0 0 1px rgba(var(--r-border-color), var(--border-active-alpha));
  --popup-underlay-opacity: 0.5;
}

$duration: 0.2s;
$radius: 6px;
$radius2: 14px;
$p: 4px;
$p2: 8px;
$p4: 14px;
// $p5: 20px;
$p6: 22px;
// $p7: 28px;
$p8: 38px;
$bp: $p2 12px;

$flarge: 1.18rem;
$fxlarge: 1.25rem;
$fsmall: 0.86rem;
$fxsmall: 0.74rem;

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow-x-scroll-bar,
.scroll-bar {
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    display: block;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(gray, 0.3);
    border-radius: 5px;
  }
}

// ripple
$transition: (
  "fast-out-slow-in": cubic-bezier(0.4, 0, 0.2, 1),
  "linear-out-slow-in": cubic-bezier(0, 0, 0.2, 1),
  "fast-out-linear-in": cubic-bezier(0.4, 0, 1, 1),
  "ease-in-out": cubic-bezier(0.4, 0, 0.6, 1),
  "fast-in-fast-out": cubic-bezier(0.25, 0.8, 0.25, 1),
  "swing": cubic-bezier(0.25, 0.8, 0.5, 1),
) !default;
$ripple-animation-transition-in: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1) !default;
$ripple-animation-transition-out: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) !default;
$ripple-animation-visible-opacity: 0.15 !default;
