:root {
  --vp-c-brand-1: #00a8ff;
  --vp-c-brand-2: #0097e6;
  --vp-c-brand-3: #00a8ff;
  --vp-c-brand-soft: rgba(#00a8ff, 0.5);
}

button:focus {
  outline: 0;
}

.button-items {
  display: flex;
  gap: var(--space-1);
  flex-wrap: wrap;
  gap: 10px;
}

.button-loading-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
