.r-button {
  p {
    padding: 0;
    margin: 0 !important;
  }
}
.doc-input {
  width: 100%;
  max-width: 320px;
  margin: auto;
  .r-input {
    width: 100%;
  }
}
.input-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}