* {
  outline: none;
  border: none;
  box-sizing: border-box;
}
button:focus {
  outline: none;
}
article {
  button,
  a {
    line-height: 1rem;
    text-decoration: none !important;
  }
}
img {
  border: none;
}
.scrollactive-nav {
  li {
    border: none;
  }
}

.dark-mode body {
  --rgb-text: 246, 246, 246;
  --gray: #161b21;
  --rgb-b1: 18, 18, 18;
  --rgb-b2: 30, 30, 30;
  --hover: rgba(255, 255, 255, 0.2);

  --popup-underlay-opacity: 0.5;
}
