:root {
  // colors
  --r-prm: 0, 168, 255;
  --r-primary-foreground: 246, 246, 246;
  --r-red: 235, 59, 90;
  --r-green: 38, 222, 129;
  --r-yellow: 247, 159, 31;
  --r-gray: 249, 250, 251;
  --r-b1: 246, 246, 246;
  --r-b2: 255, 255, 255;
  --r-text: 18, 18, 18;
  --r-disabled: 96, 96, 96;
  --r-hover: 140, 140, 140;
  --r-border-color: 60, 60, 60;
  --r-shadow-color: 140, 140, 140;

  --r-radius: 6px;
  --r-radius-2: 14px;
  --r-space-1: 4px;
  --r-space-2: 8px;
  --r-space-3: 14px;
  --r-space-4: 22px;
  --r-space-5: 38px;
  --r-normal-padding-y: 8px;
  --r-normal-padding-x: 12px;
  --r-normal-padding: var(--r-normal-padding-y) var(--r-normal-padding-x);
  --r-font-large: 1.18rem;
  --r-font-xlarge: 1.25rem;
  --r-font-small: 0.86rem;
  --r-font-xsmall: 0.74rem;

  --r-element-small-height: 28px;
  --r-element-default-height: 36px;
  --r-element-large-height: 40px;

  --r-element-min-height: 32px;

  --r-border-width: 1px;
  --r-hover-alpha: 0.3;
  --r-shadow-alpha: 0.2;
  --r-disabled-alpha: 0.8;
  --r-duration: 0.2s;
  --r-light-alpha: 0.2;
  --r-info-alpha: 0.8;
  --r-disabled-alpha: 0.8;
  --r-border-alpha: 0.2;
  --r-border-active-alpha: 0.4;
  --r-focused-box-shadow-specs: 0px 0px 0px 2px;

  // shadows & borders
  --r-popup-underlay-opacity: 0.2;
  --r-loading-background-opacity: 0.6;
}
.dark {
  --r-gray: 22, 27, 33;
  --r-b1: 18, 18, 18;
  --r-b2: 30, 30, 30;
  --r-text: 246, 246, 246;
  --r-disabled: 116, 125, 140;
  --r-hover: 180, 180, 180;
  --r-border-color: 200, 200, 200;
  --r-shadow-color: 40, 40, 40;

  --r-popup-underlay-opacity: 0.5;
}

.r-button {
  p {
    padding: 0;
    margin: 0 !important;
  }
}
.doc-input {
  width: 100%;
  max-width: 320px;
  margin: auto;
  .r-input {
    width: 100%;
  }
}
.input-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.doc-items.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.doc-items.three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}
.doc-items.four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 8px;
}
.doc-item {
  width: 100%;
  max-width: 320px;
  margin: auto;
  .r-input {
    width: 100%;
  }
}

.alert .prose-code code {
  --elements-state-warning-backgroundColor-secondary: transparent;
}

@media only screen and (max-width: 800px) {
  .doc-items,
  .input-items {
    grid-template-columns: 1fr !important;
  }
}

.table-wrapper th:last-child {
  min-width: 280px;
}

.table-wrapper {
  td:nth-child(2),
  th:nth-child(2) {
    color: rgba(230, 126, 34, 1);
  }
}

.card {
  background: rgb(var(--r-b1));
  padding: var(--r-space-2);
  border-radius: var(--r-radius);
}

.r-button {
  line-height: 1.2;
}
